.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
*.zip
thesis/
manuscript/
housekeeping/
talks/
data/README.Rmd
data/cpt_posteriors.rds.bz2
data/csv/
data/rds/
code/README.Rmd
supplements/recovery_posteriors.rds
supplements/figures/